/* Dropdown Button */
.dropbtn {
    background-color: #8b0e04;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-image: linear-gradient(to bottom,#8b0e04,#720b03);
    }

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('Images/search.png');
    background-position: 14px 19px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 22px 12px 45px;
    box-shadow: inset;
    border: 1px solid #ddd;
    width: -webkit-fill-available;
}

    /* The search field when it gets focus/clicked on */
    #myInput:focus {
        outline: 3px solid #ddd;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: -webkit-fill-available;
}

.dropdown-scrollbar {
    height: 200px;
    overflow: scroll;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #d1d1d1
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.close {
    cursor: pointer;
    background-size: 29px;
    background-image: url('Images/remove.png');
    background-repeat: no-repeat;
}

.medGroupColur {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25%;
    padding: 16px 16px;
    transform: translate(0%, -50%);
}

.body {
    background-color: white;
}

#vetMatesLogo {
    margin-bottom: 2rem;
}

#pageHeader {
    font-family: 'Roboto Condensed',sans-serif;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    background-image: url('Images/headerBgImage.png');
    background-repeat: no-repeat;
    color: #f9f9f9;
    padding-left: 2rem;
    font-size: 2rem;
    background-size: cover;
}

.container {
    background-color: white;
    font-family: 'Roboto Condensed',sans-serif;
}

.searchPanel {
    border: outset;
    /*width: -webkit-fill-available;*/
}


#menu {
    border-left: 1px solid #ffc107;
    border-right: 1px solid #ffc107;
    padding: 0.2rem;
}

/*Graph*/

#toggles {
    border: ridge;
}

#filters {
    border: ridge;
    margin-left: 4rem;
    margin-right: 4rem;
}

#tools {
    border: ridge;
}

g {
    font-size: 14px;
    font-family: 'Roboto Condensed',sans-serif;
}

#chartHeaderH4 {
    /*text-align: center;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#legGroup {
    border: ridge;
}

#btnPrintDiv {
    margin-bottom: 1rem;
}

#btnPrint #btnReset  {
    background-color: #8b0e04;
    background-image: linear-gradient(to bottom,#8b0e04,#720b03);
    background-repeat: repeat-x;
    color: white;
}



#divTable {
    border-left: 1px solid #ffc107;
    border-right: 1px solid #ffc107;
    padding: 0.25rem;
}
#toolHeader {
    text-align: center;
    color: #720b03;
}